{% load thumbnail core_tags %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DrawnBy - Collaborative creativity</title>
    {% load compress %}
    {% compress css %}
    <link href="{{ MEDIA_URL }}css/drawnby.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    {% endcompress %}
    {% compress js %}
    <script>window.MEDIA_URL = '{{ MEDIA_URL }}';</script>
    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.tools.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.tmpl.js"></script>
    <script src="{{ MEDIA_URL }}js/messages.js"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
</head>
<body>

    <div id="messages">
        {% for message in messages %}
        <div class="message">{{ message }}<a href="#">x</a></div>
        {% endfor %}
    </div>
    <script id="message-template" type="text/x-jquery-tmpl">
        <div class="message">${msg}<a href="#">x</a></div>
    </script>

	<div class="container">
		<header>
			<a href="{% url home %}"><img src="{{ MEDIA_URL }}img/logo.png" alt="DrawnBy"></a>
			<nav>
				<ul>
					<li><a href="{% url new %}">New Sketch</a></li>
					<li><a href="{% url list %}">View Gallery</a></li>
					<li><a href="{% url about %}">About</a></li>
					<li>
						{% if request.user.is_authenticated %}
							{% with request.user|photo_for_user as user_photo %}
							<div class="loggedinas">Logged in as <img src="{% thumbnail user_photo 20x20 crop="smart" %}"> {{ request.user.username }} <a href="{% url logout %}">Logout</a></div>
							{% endwith %}
						{% else %}
							<a href="">Login</a>
						{% endif %}
					</li>
				</ul>
			</nav>
		</header>
	    {% block main %}
	    {% endblock %}
	</div>
</body>
</html>
