{% load thumbnail core_tags %}
<script>
$(function() {
    $('#users img').tooltip();
});
</script>

	<span class="users">People in this sketch:</span>
	<ul id="users">
		{% for u in drawing.users.all %}
		{% with u|photo_for_user as user_photo %}
		<li><img title="{{ u.username }}" src="{% thumbnail user_photo 20x20 crop="smart" %}"></li>
		{% endwith %}
		{% endfor %}
	</ul>
	<script id="user-template" type="text/x-jquery-tmpl">
		<li id="user-${userID}"><img title="${username}" src="${window.MEDIA_URL}photos/${userID}.20x20_q85_crop-smart.jpg"></li>
	</script>
	{% if drawing %}
	<span class="rate">Rating:</span>{% include "rating.html" %}
	{% endif %}
<!--
<div class="functions">
	<a href="" title="Save" class="ir save">Save</a>
	<a href="" title="Print" class="ir print">Print</a>
	<a href="" title="Email" class="ir email">Email</a>
	<a href="" title="Undo" class="ir undo">Undo</a>
	<a href="" title="Download" class="ir download">Download</a>
	<a href="" title="Delete" class="ir delete">Delete</a>
</div>
-->
