{% extends "base.html" %}

{% block extra_js %}
<script src="{{ MEDIA_URL }}js/json.js"></script>
<script src="{{ MEDIA_URL }}js/socket.io.js"></script>
<script src="{{ MEDIA_URL }}js/excanvas.js"></script>
<script src="{{ MEDIA_URL }}js/colorpicker.js"></script>
<script src="{{ MEDIA_URL }}js/drawnby.js"></script>
<script src="{{ MEDIA_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
{% endblock %}

{% block extra_css %}
<link href="{{ MEDIA_URL }}css/colorpicker.css" rel="stylesheet">
<link href="{{ MEDIA_URL }}css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet">
{% endblock %}

{% block body_class %}{% if request.META.QUERY_STRING != "join" %}new{% endif %}{% endblock %}

{% block main %}
<script>
    window.drawingKey = '{{ drawing_key }}';
    window.username = '{{ request.user.username|escapejs }}';
    window.userID = {{ request.user.id }};
</script>

<div class="toolbar">
	<a href="" title="Save" class="ir save">Save</a>
	<a href="" title="Pencil" class="ir pencil">Pencil</a>
	<a href="" title="Brush" class="ir brush">Brush</a>
	<div id="amount"><span></span></div>
	<div class="brushsize"></div>
	<a href="" id="color" class="ir"><div></div></a>
</div>

<p id="loading" class="intro">Loading...</p>
<canvas id="canvas" width="850" height="400"></canvas>

{% endblock %}

{% block footer %}{% include "drawing_footer.html" %}{% endblock %}
