{% extends "base.html" %}

{% block extra_js %}
<script src="{{ MEDIA_URL }}js/json.js"></script>
<script src="{{ MEDIA_URL }}js/socket.io.js"></script>
<script src="{{ MEDIA_URL }}js/excanvas.js"></script>
<script src="{{ MEDIA_URL }}js/drawnby.js"></script>
{% endblock %}

{% block main %}
<script>
    window.drawingKey = '{{ drawing_key }}';
    window.username = '{{ request.user.username|escapejs }}';
    window.userID = {{ request.user.id }};
</script>

<p id="loading">Loading...</p>

<div class="toolbar">
	<a href="" title="Select" class="ir select">Select</a>
	<a href="" title="Pencil" class="ir pencil">Pencil</a>
	<a href="" title="Brush" class="ir brush">Brush</a>
	<a href="" title="Cut" class="ir cut">Cut</a>
	<a href="" title="Eyedropper" class="ir eyedrop">Eyedropper</a>
	<a href="" title="Zoom" class="ir zoom">Zoom</a>
</div>

<canvas selectable="no" id="canvas" width="900" height="450"></canvas>

<canvas id="palette" width="100" height="300"></canvas>
<div id="color" style="width:100px; height:100px;"></div>


Size:
<ul id="size">
    {% for size in "0123456789" %}
    {% with size|get_digit:1 as size %}
    <li><a href="#" id="size-{{ size }}">{{ size }}</a></li>
    {% endwith %}
    {% endfor %}
</ul>

<footer>
	<div class="userslist">
		People in this sketch:
		<ul id="users"></ul>
		<script id="user-template" type="text/x-jquery-tmpl">
			<li id="user-${userID}">
				<img src="${window.MEDIA_URL}photos/${userID}.20x20_q85_crop-smart.jpg">
				${username}
			</li>
		</script>
	</div>
	<div class="functions">
		<ul>
			<li><a href="" title="Save" class="ir save">Save</a></li>
			<li><a href="" title="Print" class="ir print">Print</a></li>
			<li><a href="" title="Email" class="ir email">Email</a></li>
			<li><a href="" title="Undo" class="ir undo">Undo</a></li>
			<li><a href="" title="Download" class="ir download">Download</a></li>
			<li><a href="" title="Delete" class="ir delete">Delete</a></li>
		</ul>
	</div>
</footer>
{% endblock %}
