{% extends "base.html" %}

{% block body_class %}home{% endblock %}

{% block main %}
	<p class="intro"><img src="{{ MEDIA_URL }}img/img-home-dblogo.png" alt="DrawnBy"> lets you draw and sketch artwork collaboratively with your friends! <br>Sign in below using your Facebook or Twitter account and to get started.</p>
	<div class="login-buttons">
		<a href="{% url begin "twitter" %}"><img src="{{ MEDIA_URL }}img/img-home-twit.png" alt="Login via Twitter"></a>
		<a href="{% url begin "facebook" %}"><img src="{{ MEDIA_URL }}img/img-home-fb.png" alt="Login via Facebook"></a>
	</div>
	<img src="{{ MEDIA_URL }}img/img-home-explain.png" alt="Use DrawnBy to draw and sketch with friends. Check out the gallery, vote & add your sketches">
{% endblock %}
