{% extends "base.html" %}
{% load thumbnail core_tags pagination_tags %}

{% block body_class %}gallery{% endblock %}

{% block main %}
{% autopaginate drawings 10 %}
<div class="clearfix gallery-items">
    {% for drawing in drawings %}
    <div>
        {% with drawing|image_for_drawing as drawing_image %}
        <a href="{% url view drawing.slug %}"><img src="{% thumbnail drawing_image 152x71 %}">{{ drawing }}</a><br>
        {% endwith %}
        {% include "rating.html" %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
{% autopaginate drawings 10 %}
{% paginate %}
{% endblock %}
